@import "tailwindcss";

/* Definimos las variables de fuente */
:root {
  --font-lato: "Lato", sans-serif;              /* textos y botones */
  --font-indie: "Indie Flower", cursive;        /* títulos */
}

/* Fuente base para el body */
body {
  font-family: var(--font-lato);
}

/* Títulos con Indie Flower */
h1, h2, h3,nav {
  font-family: var(--font-indie);
}